commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
  create_env_file:
    command: "touch /var/app/current/webapp/laravel/.env;"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_laravel_deps.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      pushd /var/app/current/webapp/laravel
      touch storage/logs/laravel.log
      sudo chmod -R 777 storage/ && sudo chmod -R 777 bootstrap/cache
      echo "APP_KEY=SomeRandomString" >> .env
      popd
      DOCKER_ID=`docker ps -q --filter "ancestor=dylanlindgren/docker-laravel-phpfpm"`
      docker exec -i $DOCKER_ID bash -c "cd /var/www/html && php composer install"
      docker exec -i $DOCKER_ID bash -c "cd /var/www/html && php artisan key:generate"
      docker exec -i $DOCKER_ID bash -c "cd /var/www/html && php artisan migrate --force"
      docker exec -i $DOCKER_ID bash -c "cd /var/www/html && php artisan optimize"
      docker exec -i $DOCKER_ID bash -c "cd /var/www/html && php artisan route:cache"
      docker exec -i $DOCKER_ID bash -c "cd /var/www/html && php artisan config:cache"